/*
Test

Markup:
<p class="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repellendus unde ullam laboriosam cumque. Consectetur odio ab ducimus earum praesentium, sunt iusto cumque possimus quam, ad harum consequuntur optio. Quos.</p>

Styleguide 1.0
*/

$color: green;

.foo {
    color: $color;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('../media/down.svg') 
}
